@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Public+Sans:wght@400;500;700&display=swap");

/* Variables */
:root {
  /* Fonts */
  --font-primary: "Public Sans", Arial, Helvetica, sans-serif;
  --font-decorative: "Press Start 2P", var(--font-primary);

  /* Colors */
  --color-background: #161616;
  --color-background-shade: #272727;
  --color-background-tint: #1e1e1e;
  --color-text: #cecece;
  --color-cyan: #24f2ff;
  --color-cyan-filter: invert(98%) sepia(87%) saturate(4083%) hue-rotate(127deg)
    brightness(100%) contrast(101%);

  /* Layout */
  --layout-max-width: 680px;
  --table-min-width: 375px;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Container */

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-primary);
}

main {
  max-width: var(--layout-max-width);
  margin: 4rem auto;
}

/* Table */

table {
  min-width: var(--table-min-width);
  width: 100%;
  overflow-x: scroll;
  border-spacing: 1px;
  margin-block: 2rem;
}

caption,
th,
td {
  text-align: start;
  word-break: break-all;
}

th,
td {
  padding: 1rem;
  vertical-align: unset;
}

th[scope="row"] {
  font-weight: normal;
}

thead {
  background: var(--color-background-tint);
}

thead th:first-child {
  border-start-start-radius: 4px;
}

thead th:last-child {
  border-start-end-radius: 4px;
}

tbody {
  background: var(--color-background-shade);
}

col[span="1"] {
  width: 50%;
}

col[span="2"] {
  width: 25%;
}

/* Accordion */

details {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-inline: 6px solid transparent;
  border-top: 6px solid var(--color-text);
  transition: 0.2s ease-in-out all;
}

details[open] summary::after {
  transform: rotate(-180deg);
}

details:not(:has(li)) {
  cursor: default;
}

details:not(:has(li)) summary {
  pointer-events: none;
}

details:not(:has(li)) summary::after {
  display: none;
}

/* List */

ul {
  padding-inline-start: 1rem;
  word-break: break-word;
  list-style: square;
}

li {
  margin-block: 1rem;
}

/* Type */

h1 {
  font-family: var(--font-decorative);
  margin-block: 2rem;
}

h2 {
  font-family: var(--font-decorative);
  font-size: 1.25rem;
  margin-block: 1rem;
}

a {
  color: var(--color-cyan);
  border-bottom: 1px solid;
  text-decoration: none;
}

a[target="_blank"]::after {
  content: url('data:image/svg+xml;utf8,<svg height="16" width="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2ZM11 5H3v16h16v-8h-2v6H5V7h6V5Z" fill="current"></path></svg>');
  margin-inline-start: 0.25rem;
  filter: var(--color-cyan-filter);
}
